#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* CSS de regalo */

.container {
  width: 660px;
  display: flex;
  padding: 20px;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 1px solid white;
}

/* Estilos para cada una de las box */
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border-width: 1px;
  border-style: solid;
  color: white;
  font-size: 1.4em;
}

/* Estilos para el input */
input {
  width: 50%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #f5f5f5;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, box-shadow 0.3s;
  margin-bottom: 20px;
}

.red{
  border: 1px solid red;
  color: red;
}

.green {
  border: 1px solid green;
  color: green;
}

.pink{
  border: 1px solid pink;
  color: pink;
}

.yellow{
  border: 1px solid yellow;
  color: yellow;
}

.purple{
  border: 1px solid purple;
  color: purple;
}

.white{
  border: 1px solid white;
  color: white;
}

.blue{
  border: 1px solid blue;
  color: blue;
}

.aqua{
  border: 1px solid aqua;
  color: aqua;
}

.olive{
  border: 1px solid olive;
  color: olive;
}


#red {
  background-color: red;
  color: white;
}


#green {
  background-color:  green;
  color: white;
}

#pink{
  background-color:  pink;
  color: black;
}

#yellow{
background-color:  yellow;
  color: white;
}

#purple{
  background-color:  purple;
  color: white;
}

#white{
  background-color: white;
  color: black;
}

#blue{
  background-color:  blue;
  color: white;
}

#aqua{
  background-color:  aqua;
  color: white;
}

#olive{
  background-color: olive;
  color: white;
}